In [7]:
import os, sys
import logging
logging.basicConfig(level=logging.INFO, format="%(asctime)s - %(levelname)s - %(message)s")
logger = logging.getLogger(__name__)
logger.setLevel(logging.INFO)

logger.info("Application started successfully.")

2025-06-13 03:54:27,584 - INFO - Application started successfully.

In [2]:
# load environment variables

storage_account = os.environ["AZURE_STORAGE_ACCOUNT_NAME"]
access_key = os.environ["AZURE_STORAGE_ACCOUNT_ACCESS_KEY"]
NESSIE_URI = os.environ['NESSIE_URI']
REF = "main"
FULL_PATH_TO_WAREHOUSE = os.environ['WAREHOUSE']
AWS_S3_ENDPOINT = os.environ["AWS_S3_ENDPOINT"]
AWS_ACCESS_KEY = os.environ['AWS_ACCESS_KEY_ID']
AWS_SECRET_KEY  = os.environ['AWS_SECRET_ACCESS_KEY']

In [3]:
# set pyspark configuration
from pyspark import SparkConf

conf = SparkConf() \
    .setAppName("Read_csv_from_azure_blob") \
    .setMaster("local[*]") \
    .set("spark.executor.memory", "4g") \
    .set("spark.driver.memory", "2g")

In [4]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.config(conf=conf).getOrCreate()
spark

25/06/13 03:53:09 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [5]:
spark.sql("DROP NAMESPACE IF EXISTS nessie.silver")
spark.sql("CREATE NAMESPACE nessie.silver")
spark.sql("SHOW NAMESPACES in nessie").show()

Py4JJavaError: An error occurred while calling o47.sql.
: org.apache.iceberg.exceptions.NamespaceNotEmptyException: Namespace 'silver' is not empty.
	at org.apache.iceberg.nessie.NessieIcebergClient.dropNamespace(NessieIcebergClient.java:338)
	at org.apache.iceberg.nessie.NessieCatalog.dropNamespace(NessieCatalog.java:316)
	at org.apache.iceberg.spark.SparkCatalog.dropNamespace(SparkCatalog.java:532)
	at org.apache.spark.sql.execution.datasources.v2.DropNamespaceExec.run(DropNamespaceExec.scala:42)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.result$lzycompute(V2CommandExec.scala:43)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.result(V2CommandExec.scala:43)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.executeCollect(V2CommandExec.scala:49)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:76)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:437)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:85)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:83)
	at org.apache.spark.sql.Dataset.<init>(Dataset.scala:220)
	at org.apache.spark.sql.Dataset$.$anonfun$ofRows$2(Dataset.scala:100)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.Dataset$.ofRows(Dataset.scala:97)
	at org.apache.spark.sql.SparkSession.$anonfun$sql$1(SparkSession.scala:638)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:629)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:659)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:569)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:840)
Caused by: org.projectnessie.error.NessieReferenceConflictException: Namespace 'silver' is not empty.
	at org.projectnessie.error.ErrorCode.lambda$asException$1(ErrorCode.java:66)
	at java.base/java.util.Optional.map(Optional.java:260)
	at org.projectnessie.error.ErrorCode.asException(ErrorCode.java:66)
	at org.projectnessie.client.rest.ResponseCheckFilter.checkResponse(ResponseCheckFilter.java:62)
	at org.projectnessie.client.rest.NessieHttpResponseFilter.filter(NessieHttpResponseFilter.java:29)
	at org.projectnessie.client.http.impl.BaseHttpRequest.lambda$processResponseFilters$1(BaseHttpRequest.java:144)
	at java.base/java.util.Collections$SingletonList.forEach(Collections.java:4966)
	at org.projectnessie.client.http.impl.BaseHttpRequest.processResponseFilters(BaseHttpRequest.java:144)
	at org.projectnessie.client.http.impl.BaseHttpRequest.executeRequest(BaseHttpRequest.java:70)
	at org.projectnessie.client.http.HttpRequest.post(HttpRequest.java:122)
	at org.projectnessie.client.http.HttpRequestWrapper.lambda$post$0(HttpRequestWrapper.java:62)
	at org.projectnessie.client.http.HttpRequestWrapper.unwrap(HttpRequestWrapper.java:72)
	at org.projectnessie.client.http.HttpRequestWrapper.post(HttpRequestWrapper.java:62)
	at org.projectnessie.client.rest.v2.HttpCommitMultipleOperations.commitWithResponse(HttpCommitMultipleOperations.java:47)
	at org.projectnessie.client.rest.v2.HttpCommitMultipleOperations.commit(HttpCommitMultipleOperations.java:35)
	at org.apache.iceberg.nessie.NessieIcebergClient.lambda$commitRetry$14(NessieIcebergClient.java:769)
	at org.apache.iceberg.util.Tasks$Builder.runTaskWithRetry(Tasks.java:413)
	at org.apache.iceberg.util.Tasks$Builder.runSingleThreaded(Tasks.java:219)
	at org.apache.iceberg.util.Tasks$Builder.run(Tasks.java:203)
	at org.apache.iceberg.nessie.NessieIcebergClient.commitRetry(NessieIcebergClient.java:761)
	at org.apache.iceberg.nessie.NessieIcebergClient.commitRetry(NessieIcebergClient.java:745)
	at org.apache.iceberg.nessie.NessieIcebergClient.dropNamespace(NessieIcebergClient.java:323)
	... 46 more

In [ ]:
spark.sql(""" 
select *
from nessie.bronze.customer 
""").show()

+-----------+---------+--------+----------+-------------+------+------------+---------------+--------------+--------------+-------------+--------------------+---------------+-----------------+---------------+--------------------+--------------------+
|     UserId|FirstName|LastName| BirthDate|MaritalStatus|Gender|YearlyIncome|      Education|    Occupation|HouseOwnerFlag|TotalChildren|NumberChildrenAtHome|NumberCarsOwned|DateFirstPurchase|CommuteDistance|     source_filepath|  ingestion_datetime|
+-----------+---------+--------+----------+-------------+------+------------+---------------+--------------+--------------+-------------+--------------------+---------------+-----------------+---------------+--------------------+--------------------+
|      jon24|      Jon|    Yang|1971-10-06|            M|     M|    90000,00|      Bachelors|  Professional|             1|            2|                   0|              0|       2011-01-19|      1-2 Miles|abfss://datalake@...|2025-06-13T02:42:...|
|   eugene10|   Eugene|   Huang|1976-05-10|            S|     M|    60000,00|      Bachelors|  Professional|             0|            3|                   3|              1|       2011-01-15|      0-1 Miles|abfss://datalake@...|2025-06-13T02:42:...|
|    ruben35|    Ruben|  Torres|1971-02-09|            M|     M|    60000,00|      Bachelors|  Professional|             1|            3|                   3|              1|       2011-01-07|      2-5 Miles|abfss://datalake@...|2025-06-13T02:42:...|
|  christy12|  Christy|     Zhu|1973-08-14|            S|     F|    70000,00|      Bachelors|  Professional|             0|            0|                   0|              1|       2010-12-29|     5-10 Miles|abfss://datalake@...|2025-06-13T02:42:...|
| elizabeth5|Elizabeth| Johnson|1979-08-05|            S|     F|    80000,00|      Bachelors|  Professional|             1|            5|                   5|              4|       2011-01-23|      1-2 Miles|abfss://datalake@...|2025-06-13T02:42:...|
|     julio1|    Julio|    Ruiz|1976-08-01|            S|     M|    70000,00|      Bachelors|  Professional|             1|            0|                   0|              1|       2010-12-30|     5-10 Miles|abfss://datalake@...|2025-06-13T02:42:...|
|     janet9|    Janet| Alvarez|1976-12-02|            S|     F|    70000,00|      Bachelors|  Professional|             1|            0|                   0|              1|       2011-01-24|     5-10 Miles|abfss://datalake@...|2025-06-13T02:42:...|
|    marco14|    Marco|   Mehta|1969-11-06|            M|     M|    60000,00|      Bachelors|  Professional|             1|            3|                   3|              2|       2011-01-09|      0-1 Miles|abfss://datalake@...|2025-06-13T02:42:...|
|       rob4|      Rob| Verhoff|1975-07-04|            S|     F|    60000,00|      Bachelors|  Professional|             1|            4|                   4|              3|       2011-01-25|      10+ Miles|abfss://datalake@...|2025-06-13T02:42:...|
|  shannon38|  Shannon| Carlson|1969-09-29|            S|     M|    70000,00|      Bachelors|  Professional|             0|            0|                   0|              1|       2011-01-27|     5-10 Miles|abfss://datalake@...|2025-06-13T02:42:...|
|jacquelyn20|Jacquelyn|  Suarez|1969-08-05|            S|     F|    70000,00|      Bachelors|  Professional|             0|            0|                   0|              1|       2011-01-14|     5-10 Miles|abfss://datalake@...|2025-06-13T02:42:...|
|    curtis9|   Curtis|      Lu|1969-05-03|            M|     M|    60000,00|      Bachelors|  Professional|             1|            4|                   4|              4|       2010-12-30|      10+ Miles|abfss://datalake@...|2025-06-13T02:42:...|
|   lauren41|   Lauren|  Walker|1979-01-14|            M|     F|   100000,00|      Bachelors|    Management|             1|            2|                   0|              2|       2013-03-16|      1-2 Miles|abfss://datalake@...|2025-06-13T02:42:...|
|      ian47|      Ian| Jenkins|1979-08-03|            M|     M|   100000,00|      Bachelors|    Management|             1|            2|                   0|              3|       2013-04-13|      0-1 Miles|abfss://datalake@...|2025-06-13T02:42:...|
|   sydney23|   Sydney| Bennett|1973-11-06|            S|     F|   100000,00|      Bachelors|    Management|             0|            3|                   0|              3|       2013-03-23|      1-2 Miles|abfss://datalake@...|2025-06-13T02:42:...|
|    chloe23|    Chloe|   Young|1984-08-26|            S|     F|    30000,00|Partial College|Skilled Manual|             0|            0|                   0|              1|       2013-01-18|     5-10 Miles|abfss://datalake@...|2025-06-13T02:42:...|
|    wyatt32|    Wyatt|    Hill|1984-10-25|            M|     M|    30000,00|Partial College|Skilled Manual|             1|            0|                   0|              1|       2013-02-09|     5-10 Miles|abfss://datalake@...|2025-06-13T02:42:...|
|   shannon1|  Shannon|    Wang|1949-12-24|            S|     F|    20000,00|    High School|Skilled Manual|             1|            4|                   0|              2|       2011-01-12|     5-10 Miles|abfss://datalake@...|2025-06-13T02:42:...|
| clarence32| Clarence|     Rai|1955-10-06|            S|     M|    30000,00|Partial College|      Clerical|             1|            2|                   0|              2|       2011-01-17|     5-10 Miles|abfss://datalake@...|2025-06-13T02:42:...|
|     luke18|     Luke|     Lal|1983-09-04|            S|     M|    40000,00|    High School|Skilled Manual|             0|            0|                   0|              2|       2013-02-12|     5-10 Miles|abfss://datalake@...|2025-06-13T02:42:...|
+-----------+---------+--------+----------+-------------+------+------------+---------------+--------------+--------------+-------------+--------------------+---------------+-----------------+---------------+--------------------+--------------------+
only showing top 20 rows

In [11]:
import notebooks.lib.silver_dim_adventureWorks_sql as sql

source_list = [
    {
        "table_name": "nessie.silver.product",
        "sql_create_table": sql.sql_create_silver_product,
        "sql_select": sql.sql_select_bronze_product,
        "enabled": True
    },
    {
        "table_name": "nessie.silver.customer",
        "sql_create_table": sql.sql_create_silver_customer,
        "sql_select": sql.sql_select_bronze_customer,
        "enabled": True
    }
]

In [12]:
import pyspark.sql.functions as SqlFunction

for item in source_list:
    table_name = item["table_name"]
    # create table
    logger.info(f'creating table if not exists:{table_name}')
    spark.sql(item["sql_create_table"])

    # select data from bronze table
    logger.info('selecting data from bronze')
    df = spark.sql(item["sql_select"])
    num_rows, num_columns = df.count(), len(df.columns)

    # insert data into silver
    logger.info(f'inserting data ({num_rows} rows {num_columns}, columns) {table_name}')
    df.writeTo(table_name).createOrReplace()
    logger.info(f'data inserted successfully')

2025-06-13 04:01:30,814 - INFO - creating table if not exists:nessie.silver.product
2025-06-13 04:01:31,703 - INFO - selecting data from bronze
2025-06-13 04:01:33,483 - INFO - inserting data (295 rows 9, columns) nessie.silver.product
2025-06-13 04:01:34,929 - INFO - data inserted successfully
2025-06-13 04:01:34,930 - INFO - creating table if not exists:nessie.silver.customer
2025-06-13 04:01:35,170 - INFO - selecting data from bronze
2025-06-13 04:01:35,372 - INFO - inserting data (18484 rows 17, columns) nessie.silver.customer
2025-06-13 04:01:36,190 - INFO - data inserted successfully

In [16]:
spark.sql(""" 
select *
from nessie.silver.product
""").show()

+----------+--------------------+------------------------+---------------------+--------------------+----------+----------------+--------------------+--------------------+
|ID_PRODUCT|        NAME_PRODUCT|NAME_PRODUCT_SUBCATEGORY|NAME_PRODUCT_CATEGORY|    TEXT_DESCRIPTION|NAME_COLOR|AMT_PRODUCT_COST|TEXT_SOURCE_FILEPATH|  DATETIME_INGESTION|
+----------+--------------------+------------------------+---------------------+--------------------+----------+----------------+--------------------+--------------------+
|   BB-7421|   LL Bottom Bracket|         Bottom Brackets|           Components|     Chromoly steel.|        NA|         23,9716|abfss://datalake@...|2025-06-13T02:42:...|
|   BB-8107|   ML Bottom Bracket|         Bottom Brackets|           Components|Aluminum alloy cu...|        NA|         44,9506|abfss://datalake@...|2025-06-13T02:42:...|
|   BB-9108|   HL Bottom Bracket|         Bottom Brackets|           Components|Aluminum alloy cu...|        NA|         53,9416|abfss://datalake@...|2025-06-13T02:42:...|
|   BC-M005|Mountain Bottle Cage|       Bottles and Cages|          Accessories|Tough aluminum ca...|        NA|          3,7363|abfss://datalake@...|2025-06-13T02:42:...|
|   BC-R205|    Road Bottle Cage|       Bottles and Cages|          Accessories|Aluminum cage is ...|        NA|          3,3623|abfss://datalake@...|2025-06-13T02:42:...|
|BK-M18B-40|Mountain-500 Blac...|          Mountain Bikes|                Bikes|Suitable for any ...|     Black|        294,5797|abfss://datalake@...|2025-06-13T02:42:...|
|BK-M18B-42|Mountain-500 Blac...|          Mountain Bikes|                Bikes|Suitable for any ...|     Black|        294,5797|abfss://datalake@...|2025-06-13T02:42:...|
|BK-M18B-44|Mountain-500 Blac...|          Mountain Bikes|                Bikes|Suitable for any ...|     Black|        294,5797|abfss://datalake@...|2025-06-13T02:42:...|
|BK-M18B-48|Mountain-500 Blac...|          Mountain Bikes|                Bikes|Suitable for any ...|     Black|        294,5797|abfss://datalake@...|2025-06-13T02:42:...|
|BK-M18B-52|Mountain-500 Blac...|          Mountain Bikes|                Bikes|Suitable for any ...|     Black|        294,5797|abfss://datalake@...|2025-06-13T02:42:...|
|BK-M18S-40|Mountain-500 Silv...|          Mountain Bikes|                Bikes|Suitable for any ...|    Silver|        308,2179|abfss://datalake@...|2025-06-13T02:42:...|
|BK-M18S-42|Mountain-500 Silv...|          Mountain Bikes|                Bikes|Suitable for any ...|    Silver|        308,2179|abfss://datalake@...|2025-06-13T02:42:...|
|BK-M18S-44|Mountain-500 Silv...|          Mountain Bikes|                Bikes|Suitable for any ...|    Silver|        308,2179|abfss://datalake@...|2025-06-13T02:42:...|
|BK-M18S-48|Mountain-500 Silv...|          Mountain Bikes|                Bikes|Suitable for any ...|    Silver|        308,2179|abfss://datalake@...|2025-06-13T02:42:...|
|BK-M18S-52|Mountain-500 Silv...|          Mountain Bikes|                Bikes|Suitable for any ...|    Silver|        308,2179|abfss://datalake@...|2025-06-13T02:42:...|
|BK-M38S-38|Mountain-400-W Si...|          Mountain Bikes|                Bikes|This bike deliver...|    Silver|        419,7784|abfss://datalake@...|2025-06-13T02:42:...|
|BK-M38S-40|Mountain-400-W Si...|          Mountain Bikes|                Bikes|This bike deliver...|    Silver|        419,7784|abfss://datalake@...|2025-06-13T02:42:...|
|BK-M38S-42|Mountain-400-W Si...|          Mountain Bikes|                Bikes|This bike deliver...|    Silver|        419,7784|abfss://datalake@...|2025-06-13T02:42:...|
|BK-M38S-46|Mountain-400-W Si...|          Mountain Bikes|                Bikes|This bike deliver...|    Silver|        419,7784|abfss://datalake@...|2025-06-13T02:42:...|
|BK-M47B-38|Mountain-300 Blac...|          Mountain Bikes|                Bikes|For true trail ad...|     Black|        598,4354|abfss://datalake@...|2025-06-13T02:42:...|
+----------+--------------------+------------------------+---------------------+--------------------+----------+----------------+--------------------+--------------------+
only showing top 20 rows